.archive-data-form {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  width: 900px;
  background-color: white;

  &__button {
    width: 16px;
    height: 16px;
    // margin-right: 30px;
    margin-left: auto;
    padding: 4px;
    background-image: url(../../assets/fontawesome-free-6.5.1-web/svgs/solid/edit.svg);
    background-size: cover;
    background-color: none;
    border: none;
  }
}
