.columns {
  padding: 0;

  &__section {
    margin-bottom: 32px;
  }
}

.control {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 200px;
}

.columns.is-multiline.is-mobile {
  margin-bottom: 24px;
}

.scan-wrapper {
  margin-left: 110px;
}

.personal-data-form__add {
  margin: -12px;
}
