.institution-select {
  padding: 8px 40px 8px 12px;
  width: 148px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--Shades-grey-lighter, #dbdbdb);
  background: var(--White-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.institution-option {
  // padding: 0;

  color: var(--Shades-grey-darker, #363636);
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.education {
  margin-top: 24px;
}

.education:first-of-type {
  margin-top: 0;
}
