.optionally-input {
  width: 616px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--Shades-grey-lighter, #dbdbdb);
  background: var(--white, #fff);
}

.optionally-textarea {
  width: 616px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--Shades-grey-lighter, #dbdbdb);
  background: var(--white, #fff);
}

.textarea-size {
  width: 640px;
}
