.button-trash-personal {
  margin-top: 25px;
}

.checkbox {
  &__legend {
    color: var(--grey, #7a7a7a);
  }

  &__input {
    margin: 8.5px 8px 0 0;
  }
}

.columns-margin {
  margin-top: 20px;
}

.columns-margin:first-of-type {
  margin-top: 0;
}

.field-cell {
  width: 200px;
}

.field-cell-big {
  width: 450px;
}

.file-name-color {
  overflow: hidden;
  color: var(--grey, #7a7a7a);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.file-name-span {
  display: inline-block;
  max-width: 40px;
}

.label-type {
  color: var(--black, #0a0a0a);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 112.5%;
}

.label-type-long {
  padding-left: 0;
}

.personal-data-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  width: 1070px;
  background-color: white;

  &__add {
    margin-top: 24px;
    // margin-left: 300px;
    margin-bottom: 32px;
    padding: 7px 16px;
    border: 1px solid var(--primary, #00d1b2);
    border-radius: 6px;
    background: white;
    color: var(--primary, #00d1b2);
    /* text bold */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  &__button {
    margin-left: auto;
  }

  &___group {
    display: flex;
    background-color: aqua;
  }
}

.select-field {
  width: 200px;
}

.passport-citizenship {
  margin-top: 124px;
}
