.employees-pagination {
  width: 100%;
  padding: 18px 300px 40px 300px;

  &_container {
    @include flex(row, center, flex-start);
  }

  & .pagination-link.is-current {
    color: $turquoise-dark;
    background-color: $turquoise-light;
    border-color: $turquoise-dark;
  }
}
