.career-development {
  width: 640px;
  display: flex;
  // text-align: end;

  &__add {
    margin-top: 24px;
    margin-left: 240px;
    border: 1px solid var(--primary, #00d1b2);
    border-radius: 6px;
    background: white;
    color: var(--primary, #00d1b2);

    /* text bold */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  &__control {
    width: 200px;
    margin-right: 12px;
  }
}

// career-development-add добавить строки
// career-development-remve удалить строки
