.button-disabled {
  display: none;
}

.buttons-group {
  margin-top: 48px;
  margin-bottom: 68px;
}

.button-reset {
  width: 220px;
  padding: 11px 24px;
  border-radius: 6px;
  border: none;
  background: var(--primary-light, #ebfffc);
  color: var(--primary-dark, #00947e);
  /* text bold */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.button-save {
  width: 136px;
  margin-right: 20px;
  // margin-left: 12px;
  padding: 11px 24px;
  border-radius: 6px;
  border: none;
  background: var(--primary, #00d1b2);
  color: var(--white, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.career-development-column {
  margin-left: 20px;
}

.column-gross {
  width: 200px;
  padding-left: 20px;
}

.control-horizontal {
  width: 250px;
  border-radius: 4px;
}

.current-data-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  width: 1070px;
  background-color: white;

  &__add {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: -12px;
    padding: 7px 16px;
    border: 1px solid var(--primary, #00d1b2);
    border-radius: 6px;
    background: white;
    color: var(--primary, #00d1b2);
    /* text bold */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  &__add-not-margin {
    margin-left: 0;
  }

  &__button {
    width: 16px;
    height: 16px;
    margin-left: auto;
    padding: 4px;
    background-image: url(../../assets/fontawesome-free-6.5.1-web/svgs/solid/edit.svg);
    background-size: contain;
    background-color: none;
    border: none;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__img {
  }

  &__title {
    margin-bottom: 32px;
    // padding-left: 12px;
    color: var(--black, #0a0a0a);
    /* h5 */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 112.5%; /* 22.5px */
  }
}

.is-margin-top {
  margin-top: 3px;
}

.is-two-quarters-width {
  max-width: 410px;
}

.label-horizontal {
  color: var(--black, #0a0a0a);
  /* h6 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 112.5%; /* 18px */
}

.label-type {
  width: 200px;
  word-wrap: break-word;
}

.label-type-long {
  width: 420px;
}

.label-margin {
  margin-right: 21px;
  margin-bottom: 5px;
}

.magin-column {
  margin-left: 20px;
}

select option:checked {
  background-color: var(--primary-primary, #00d1b2);
}

.span-wrapper {
  display: flex;
  flex-direction: column;
}
