.footer {
  padding: 0;
  @include flex(row, center, center);
  gap: 40px;
  min-height: 85px;
  background-color: transparent;
  margin: auto auto 0;

  &-text {
    color: #b5b5b5;
    @extend %smallText;
  }
}
