.employees-list {
  width: 100%;
  flex: 1;

  &__container {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    height: 100%;
  }

  &__table {
    height: 100%;
  }

  &__table-column {
    border-bottom: #dbdbdb 2px solid !important;
    color: #363636 !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    font-family: $fontFamily !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150% !important;

    &:nth-child(1) {
      min-width: 376px !important;
    }

    &:nth-child(2) {
      min-width: 300px !important;
    }

    &:nth-child(3) {
      min-width: 300px !important;
    }

    &:nth-child(4) {
      min-width: 154px !important;
    }

    &:nth-child(5) {
      min-width: 154px !important;
    }
  }

  &__table-row {
    transition: all ease-in 0.8s;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 184, 156, 0.2);
    }
  }

  &__table-row-cell {
    padding: 1.2% 12px 1.2% 12px !important;
    color: #363636 !important;
    font-family: $fontFamily !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 150% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

    &:nth-child(1) {
      max-width: 376px !important;
    }

    &:nth-child(2) {
      max-width: 300px !important;
    }

    &:nth-child(3) {
      max-width: 300px !important;
    }

    &:nth-child(4) {
      max-width: 154px !important;
    }

    &:nth-child(5) {
      max-width: 154px !important;
    }
  }
}
