.signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 134%; /* 18.76px */
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;

  &_size_s {
    width: 88px;
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 10px;
  }

  &_size_l {
    width: 188px;
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 10px;
  }

  &_size_xl {
    width: 288px;
    padding: 20px 50px 20px 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 10px;
  }

  &_theme_purple {
    color: #ffffff;
    background-color: #243cbb;

    &:hover {
      background-color: #435cdb;
    }

    &:active {
      background-color: #243cbb;
    }

    &:disabled {
      background-color: #ecefff;
    }
  }

  &_theme_green {
    color: #060c23;
    background-color: #22ffaa;

    &:hover {
      background-color: #70ffc8;
    }

    &:active {
      background-color: #22ffaa;
    }

    &:disabled {
      opacity: 0.4;
      background-color: #85ffd0;
    }
  }

  &_theme_grey {
    color: #060c23;
    background-color: #e4e9f1;

    &:hover {
      color: #243cbb;
      background-color: #e4e9f1;
    }

    &:active {
      color: #243cbb;
      background-color: #ecefff;
      box-shadow: 0 4px 4px 0 #00000040;
    }

    &:disabled {
      color: #a6b3c9;
      background-color: #f2f4f8;
      box-shadow: none;
    }
  }
}
