.employees {
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  @include flex(column, flex-start, flex-start);
  background-color: $white;

  &__content {
    padding: 0 44px;
    width: 100%;
    flex: 1;
    @include flex(column, center, flex-start);
  }

  &__title {
    margin: 24px 0 0 0;
    color: #0a0a0a;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 112.5%;
    letter-spacing: -0.4px;
  }
}
