.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  //Я думаю, что задавать паддинг лучше на самой странице, куда вставляется хидер
  //min-height: 72px;
  //padding: 24px 26px 0 40px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 100;

  &__user {
    @include flex(row, flex-start, center);
    margin: 0 0 0 auto;
  }
  &__link {
    @include flex(row, flex-start, center);
  }
  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
  }
  &__title {
    @include text(16px, 24px);
    color: $black;
    max-width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__title:hover {
    color: $turquoise;
  }
  &__icon {
    margin: auto 4px auto 12px;
    width: 32px;
    height: 32px;
    color: $grey-darker;
  }
  &__icon:hover {
    color: $turquoise;
  }
}
